.OurTeamPage_container{
    width: 70%;
    margin: auto;
    position: relative;
    display: flex;align-items: center;justify-content: center;flex-direction: column;
    z-index: 9999;
    .OurTeamFakePage{
        position: absolute;
        height:30vh;
        top: -70px;
        z-index: 1;
    }
    .OurTeamPage_title{
        width: 100%;
        color: var(--title);
        text-align: center;
        font-family: Fira Sans B;
        font-size: 78px;
        font-weight: 700;
        letter-spacing: 3px;
    }
    .OurTeamPage_text{
        width: 70%;
        text-align: center;
        color: #565656;
        // font-family: Fira Sans B;
        font-size: 23px;
        font-weight: 700;
        text-transform: capitalize;
        span{
            font-weight: 600;
        }
    }
    .OurTeamPage_logos{
        width: 87%;
        margin-inline: auto;
        display: flex;justify-content: space-between;
        margin-top: 50px;
        .left_logos{
            display: flex; flex-direction: column;
            width: 31.5%;
            .left_first{
                width: 100%;
                height: 18.5vw;
                border-radius: 2px;
                background: var(--solid-c-4-c-4-c-4, #C4C4C4);
                img{
                    width: 100%;
                    height: 100%;
                }    
            }
        }
        .mid_logos, .right_logos{
            display: flex; flex-direction: column;
            width: 31.5%;
            .mid_first, .mid_second, .right_first, .right_second{
                width: 100%;
                height: 15.7vw;
                border-radius: 2px;
                // background: var(--solid-c-4-c-4-c-4, #C4C4C4);
            }
            .mid_first, .right_first{
                margin-bottom: 3vw;
            }
        }
    }
}

//res 

@include devices(SmallLaptop){
    .OurTeamPage_title{
        font-size: 60px !important;
    }   
    .OurTeamPage_text{
        font-size: 18px !important;
    }
    .Team_leader_section{
        .title{
            margin-top: 8px !important;
            line-height: 19px !important;
            font-size: 13px !important;
        }
        .text{
            font-size: 12px !important;
            line-height: 19px !important;
        }
    }
}


@include devices(tablet){
    .Team_leader_section{
        .title{
            font-size: 12px !important;
            line-height: 14px !important;
        }
        .text{
            font-size: 11px !important;
            line-height: 12px !important;

        }
    }
}

@include devices(mobile){
    .OurTeamPage_container{
        width: 94% !important;
        .left_first{
            height: 24vw !important;
        }
        .mid_logos, .right_logos{
            .mid_first, .mid_second, .right_first, .right_second{
                height: 20.2vw !important;
            }
            .mid_first, .right_first{
                margin-bottom: 4vw !important;
            }
        }
        
    .Team_leader_section{
        height: 20.2vw !important;
        .title{
            font-size: 11px !important;
            line-height:15px !important;
        }
        .text{
            font-size: 11px !important;
            line-height: 13px !important;
        }
    }
  }
}

@include devices(iphone_mobile){
    .OurTeamPage_container{
    .OurTeamPage_title{
        font-size: 30px !important;
    }   
    .OurTeamPage_text{
        font-size: 10px !important;
    }
        width: 94% !important;
        .left_first{
            height: 27vw !important;
        }
        .mid_logos, .right_logos{
            .mid_first, .mid_second, .right_first, .right_second{
                height: 23.2vw !important;
            }
            .mid_first, .right_first{
                margin-bottom: 4vw !important;
            }
        }
        
    .Team_leader_section{
        height: 23.2vw !important;
        .title{
            font-size: 8px !important;
            line-height:11px !important;
        }
        .text{
            font-size: 8px !important;
            line-height: 10px !important;
        }
    }
  }
}

@include devices(XS_mobile){
    .Team_leader_section{
        .title{
            margin-top: 3px !important;
            font-size: 5px !important;
            line-height:5px !important;
        }
        .text{
            font-size: 4px !important;
            line-height: 5.5px !important;
        }
    }
}