.home_container{
    display: flex;
    width: 100%;
    background: #FEFEFE;
    margin-bottom: 10vw;
    .mid_section{
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-left: 60px;
        .mid_h1,.mid_h2{
            width: 90%;
            font-size: 44px;
            line-height: 50px; 
            letter-spacing: .7px;
            color: #000;
        }
        .mid_h1{
            font-weight: 300;
            span{
                color: var(--secondary);
            }
        }
        .mid_h2{
            font-size: 59px;
            color: var(--secondary);
            font-weight: 600 !important;
            span{
                color: #000;
            }
        }
        .mid_p{
            margin-top: 10px;
            width: 74%;
            color: var(--solid-666666, #666);
            font-family: Open Sans;
            font-size: 18px;
            font-weight: 400;
        }
        .button_container{
            width: 90%;
            .contact_us_button{
                color: var(--solid-fefefe, #FEFEFE);
                text-align: center;
                font-family: Fira Sans B;
                font-size: 18px;
                font-weight: 700;
                width: 28%;
                height: 39px;
                border-radius: 9px;
                background: var(--secondary);
                border: none;
                margin-inline: 15px;
            }
        }
        
        .cards{
            display: flex;
        }
    }

    .right_section{
        display: flex;justify-content: end;
        width: 50%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    .ar{
        .mid_h1,.button_container, .mid_p, .mid_h2{
            text-align: end !important;
        }
        .mid_p{
            width: 90% !important;
        }
    }


// res 
@include devices (MinLaptop){
    .mid_h1{
        font-size: 36px !important;
    }
    .mid_h2{
        font-size: 44px !important;
    }
}
@include devices (tablet){
    .home_container{
        margin-bottom: 450px;
        .mid_section{
            margin-left: 20px !important;
            margin: auto;
            width: 50%;
            .mid_h1{
                font-size: 26px !important;
                line-height: 30px !important;
            }
            .mid_h2{
                font-size:30px !important;
                line-height: 30px !important;
            }
            .mid_p{
                font-size: 16px !important;
                width: 80%;
            }
            .button_container{ 
                .contact_us_button{
                    width: 45% !important;
                }
            }
            .cards{
                position: absolute;
                top: 635px;
                left: 70px;
                display: flex;align-items: center;justify-content: center;
                width: 80%;
            }
        }
        .right_section{ 
            width: 50%;
            height: 40% !important;
        }
    }
}

@include devices (mobile){
    .home_container{
        margin-bottom: 400px;
        .mid_section{
            width: 60% !important;
            .mid_h1{
                font-size: 26px !important;
                line-height: 25px !important;
            }
            .mid_h2{
                font-size:28px !important;
                line-height: 25px !important;
            }
            .mid_p{
                font-size: 16px !important;
                width: 90%;
            }
            .button_container{ 
                .contact_us_button{
                    width: 40% !important;
                    height: 35px;
                    font-size: 14px !important;
                }
            }
            .cards{
                top: 535px;
                left: 40px;
                width: 90%;
            }
            
        }
        
    }
}


@include devices (iphone_mobile){
    .home_container{
        margin-bottom: 300px;
        .mid_section{
            .mid_h1{
                font-size: 20px !important;
                line-height: 23px !important;
            }
            .mid_h2{
                font-size:22px !important;
                line-height: 23px !important;
            }
            .mid_p{
                font-size: 12px !important;
                width: 90%;
            }
            .button_container{ 
                .contact_us_button{
                    height: 30px !important;
                    font-size: 10px !important;
                }
            }
            .cards{
                top: 455px;
                left: 20px;
                width: 90%;
            }
            
        }  
    }
}

@include devices (XS_mobile){
    .home_container{
        .mid_section{
            .mid_h1{
                font-size: 14px !important;
                line-height: 10px !important;
            }
            .mid_h2{
                font-size:16px !important;
                line-height: 10px !important;
            }
            .mid_p{
                font-size: 10px !important;
            }
            .button_container{ 
                .contact_us_button{
                    font-size: 8px !important;
                }
            }
            .cards{
                top: 385px;
            }
        }
    }
}