a{
    text-decoration: none;
    cursor: pointer;
}

@font-face {
    font-family: source_sans_pro;
    src: url('../../utils/Fonts/source-sans-pro.regular.ttf');
    // font-display: swap;
  }

@font-face {
    font-family: source_sans_pro_SB;
    src: url('../../utils/Fonts/source-sans-pro.semibold.ttf');
    // font-display: swap;
  }

@font-face {
    font-family: source_sans_pro_B;
    src: url('../../utils/Fonts/source-sans-pro.bold.ttf');
    // font-display: swap;
  }

@font-face {
    font-family: Fira Sans B;
    src: url('../../utils/Fonts/fira-sans.bold.ttf');
  }
  
  @font-face {
    font-family: Oxygen;
    src: url('../../utils/Fonts/oxygen.bold.ttf');
  }

@font-face {
    font-family: Roboto;
    src: url('../../utils/Fonts/Roboto-Bold.ttf');
    // font-display: swap;
  }


  .ibrahim_image {
      object-fit: fill!important;
  }