.footer_main_container{
    background: #4B4D9B;
    box-shadow: 0px 20px 40px -12px rgba(18, 30, 42, 0.05);
    width: 100%;
    height: 150px;
    position: relative;
    .footer_container{
        width: 100%;
        background: #01385f;
        height: 280px;
        .footer{
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin-inline: auto;  
                .footer_left_section{
                    display: flex;justify-content: space-between;
                    margin-top: 60px;
                    width: 58%;
                    .footer_logo{
                        display: flex;justify-content: space-between;
                        width: 50%;
                        .logo{
                            width: 25%;
                            .FooterLogo{
                                width: 80% !important;
                            }
                        }
                        .best_partner{
                            width: 80%;
                            display: flex; flex-direction: column;
                            .first, .second{
                                font-family: Fira Sans B;
                                font-size: 19px;
                                font-weight: 700;
                                text-transform: uppercase;
                                color: #fff;
                            }
                            .second{
                                font-size: 12px;
                                text-transform: none;
                                font-weight: 400;
                            }
                        }
                    }
                    .footer_links{
                        width: 50%;
                        height: 250px;
                        display: flex;
                        flex-direction: column;
                        .title, h1{
                            margin-bottom: 10px;
                            color: var(--solid-fefefe, #FEFEFE) !important;
                            font-family: Fira Sans B;
                            font-size: 15px;
                            font-weight: 700;
                            text-transform: capitalize;
                        }
                        .links{
                            display: flex; flex-direction: column;
                            .about_us_link{
                                font-weight: 700;
                            }
                            span {
                                color: var(--solid-fafafa, #FEFEFE);
                                font-family: Fira Sans B;
                                font-size: 11px;
                                font-weight: 400;
                                text-transform: capitalize;
                                line-height: 25px;
                            }
                        }
                    }
                }
                .footer_right_section{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 60px;
                    width: 32%;
                    .footer_head_office, .footer_opening_hour{
                        width: 50%;
                        height: 250px;
                        display: flex;
                        flex-direction: column;
                        .title, h1{
                            margin-bottom: 10px;
                            color: var(--solid-fefefe, #FEFEFE) !important;
                            font-family: Fira Sans B;
                            font-size: 15px;
                            font-weight: 700;
                            text-transform: capitalize;
                        }
                        
                    }
                    .footer_head_office{
                        h1 ,.title{
                            margin-bottom:22.5px;
                        }
                        p{
                            line-height: 17px;
                        }
                    }

                    .footer_opening_hour{
                        h1{
                            margin-bottom: 22.5px;
                        }
                    }
                }
        }
    }
}
.text{
    color: var(--solid-fefefe, #FEFEFE);
    // font-family: Fira Sans;
    font-size: 11px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3px;
    margin-bottom: 10px;
}
.location{
    line-height: 10px;
    margin-bottom: 8px;
}

//res

@include devices (tablet){
    .footer_container{
        .footer_left_section{
            width: 62% !important;
        }
        .footer_right_section{
            width: 34% !important;
        }
        height: 220px !important;
        .footer{
            width: 92% !important;
            .footer_logo{
                .best_partner{
                    .first, .second{
                        font-size: 13px !important;
                    }
                    .second{
                        font-size: 7px !important;
                    }
                }
            }
            .footer_links, .footer_head_office, .footer_opening_hour{
                height: 150px !important;
                .title, h1{
                    margin-bottom: 10px !important;
                    font-size: 10px !important;
                }
                .links{
                    width: 100% !important;
                    span {
                        svg{
                            margin-right: 2px !important ;
                        }
                        font-size: 10px ;
                    }
                }
            }
            .footer_head_office{
                margin-left: -30px !important;
                h1, .title{
                    font-size: 10px !important;
                    margin-bottom: 26px !important;
                }
                p{
                    font-size: 10px !important;
                    line-height: 10px !important;
                }
            }
            .footer_opening_hour{
                margin-left: 20px !important;
                h1{
                    width: 100% !important;
                    font-size: 10px !important;
                    margin-bottom: 26px !important;
                }
                p{
                    width: 100% !important;
                    font-size: 9px !important;
                }
            }
        } 
    }  
}


@include devices (iphone_mobile){
    .footer_container{
        .footer{     
            width: 90% !important;       
            .footer_logo{
                .logo{
                    margin-top: -16px !important;
                }
                .best_partner{
                    .first, .second{
                        font-size: 8px !important;
                    }
                    .second{
                        font-size: 7px !important;
                    }
                }
            }
            .footer_links, .footer_head_office, .footer_opening_hour{
                .title, h1{
                    font-size: 10px !important;
                    margin-bottom: 0px !important;
                }
                .links{
                    span, .about_us_link {
                        font-size: 8px !important;
                        line-height: 21px !important;
                    }
                    .about_us_link{
                        line-height: 0px !important;
                    }
                }
            }
            .footer_head_office{
                h1, .title{
                    font-size: 8px !important;
                    margin-bottom: 17.5px !important;
                }
                .location{
                    line-height: 9px !important;
                    // margin-bottom: 8px;
                }
                p{
                    // display: none;
                    font-size: 7px !important;
                    line-height: 5px !important;
                }
            }
            .footer_opening_hour{
                h1{
                    margin-bottom: 16px !important;
                    font-size: 8px !important;
                }
                p{
                    line-height: 10px !important;
                    font-size: 9px !important;
                }
                p{
                    font-size: 7px !important;
                }
            }

        } 
    }        
}