.OurServicesPage_container_main{
    width: 100%;
    position: relative;
    min-height: 40vw;
    .OurServicesFakePage{
        height:30vh;
        position:absolute;
        top: -180px;
        z-index: 0;
    }
    .ContactUsFrame{
        position: absolute;
        z-index: -1 !important;
        width: 100%;
        top: -900px;
    }
    .OurServicesPage_container{
    margin: auto;
    margin-top: 300px;
    width: 63%;
    display: flex;
        .OurServicesPage_left{
            width: 50%;
            .OurServicesPage_title{
                color: var(--title);
                font-family: Fira Sans B;
                font-size: 80px;
                font-weight: 700;
                margin-left: 30px;
                line-height: 74px;
            }
            .img_bg{
                background: #000 !important;
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
        .OurServicesPage_right{
            width: 60%;
            display: flex;
            align-items: center;
            margin-left: 20px;
            margin-top: 60px;
            .fisrt_cards{
                width: 80%;
                margin-inline: auto;
                margin-right: 20px;
            }
            .second_cards{
                width: 80%;
                margin-inline: auto;
            }
        }
    }
}
//res

@include devices (SmallLaptop){
    .OurServicesPage_container{
        width: 86% !important;
    }
}
@include devices (tablet){
    .OurServicesPage_container{
        width: 80% !important;
        flex-direction: column;align-items: center;justify-content: center;
        .OurServicesPage_left{
            width: 80% !important;
            display: flex;align-items: center;justify-content: center; flex-direction: column;
            .OurServicesPage_title{
                text-align: center;
                margin-left: 0 !important;
                margin-bottom: 30px;
            }
        }
        .OurServicesPage_right{
            width: 80% !important;
            margin-top: 0px !important;
        }
    }
}

@include devices (mobile){
            .OurServicesPage_title{
                font-size: 30px !important;
                line-height: 30px !important;
            }
}