.ServiceCard{
    display: flex;flex-direction: column;
    height: 180px;
    width: 100%;
    .ServiceCard_icon{
        margin-left: 10px;
        font-size: 40px;
        color: blue;
        height: 70px;
    }
    .ServiceCard_title{
        color: #000;
        font-family: Fira Sans B;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: .7vw;
    }
    .ServiceCard_text{
        color: var(--solid-666666, #666);
        // font-family: Oxygen;
        font-size: 13px;
        font-weight: 400;
        min-width: 5vw;
    }
}

.ar{
    .ServiceCard, .ServiceCard_title, .ServiceCard_text{
        text-align: end;
    }
}

//res

@include devices (mobile){
    .ServiceCard{
        height: 140px !important;
    }
    .ServiceCard_icon{
        height: 40px !important;
        font-size: 20px !important;
    }

    .ServiceCard_text{
        font-size: 9px !important;
    }

    .ServiceCard_title{
        font-size: 9px !important;
    }
}

@include devices (XS_mobile){
    .ServiceCard{
        height: 160px !important;
    }
    .ServiceCard_icon{
        font-size: 16px !important;
    }

    .ServiceCard_text{
        font-size: 7.5px !important;
    }

    .ServiceCard_title{
        font-size: 7.5px !important;
    }
}